body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: white;
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
}

content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    gap: 10px;
}



.title {
    width: auto;
    padding: 10px;
    margin: 0 auto; 
    margin-top: 10px;
    background-color: rgb(253, 48, 48);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.items {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 0;
    overflow: hidden;
    justify-content: center; 
}

.item {
    width: 200px;
    height: 350px;
    margin-left: -50px;
    border-radius: 6px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, z-index 0.3s;
    position: relative;
    z-index: 1;
    flex-shrink: 0; 
}

.item:first-child {
    margin-left: 0; /* Перша картка без зсуву */
}

.item:hover {
    transform: scale(1.1);
    z-index: 10;
}


.item-title {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    margin-top: 3px;
}


.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
.modal-content {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    max-width: none;
    border-radius: 0;
    padding: 20px;
}
  
  .modal .close {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  


